body {
    background-color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    .card {
        height: 96px;
        width: min-content;
    }
}