body {
    background-color: darkgreen;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.info {
    display: flex;
    place-items: center;
    gap: 20px;
    .box {
        display: grid;
        gap: 10px;
        font-size: 1.3rem;
    }
}

@keyframes slide {
    from {
        left: -222px;
    }
    to {
        left: 0;
    }
}

.slide {
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-direction: forwards;
}

@keyframes draw {
    from {
        left: -222px;
        transform: rotateY(-90deg);
    }
    to {
        left: 0;
        transform: rotateY(0deg);
    }
}

.unknown {
    position: relative;
    animation-name: draw;
    animation-duration: 1s;
    animation-direction: forwards;
}

.deck, .unknown {
    height: 196px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    .card {
        height: 96px;
        width: min-content;
        transition: 0.3s;
        cursor: pointer;
    }
    .card:hover {
        transform: scale(1.2);
    }
}
